QWidget {
    background-color: #0F0F0F;
    color: #E0E0E0;
}

QLineEdit {
    border: 2px solid #535f78;
    border-radius: 4px;
}

QLineEdit:focus {
    border: 2px solid #00FFFF;
}

QPushButton {
    border: 2px solid #535f78;
    border-radius: 4px;
}

QPushButton:pressed {
    border: 2px solid #00FFFF
}